/* Global */

:root {

    /* colors */
    --clr-primary : #7a7a7a;
    --clr-lesserBlack : #333333;
    --clr-secondary : #77CCF3;
    --clr-header : #EEEEEE;
    --clr-h24 : #CDD9E5;

    /* sizes */
    --15percent: 15%;
    --85percent: 85%;

    --radius5: 5px;

    --shadow-primary: 0 5px 10px -3px;
    --shadow-left: -3px 0 10px -5px;
    --shadow-right: 3px 0 10px -5px;

    --count: 5;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    color: var(--clr-lesserBlack);
}

.main {
    margin-left: var(--15percent);
}

.success {
    color: rgb(0, 202, 0);
}

/* Buttons */

.btnLink  {
    padding: 0.8em 1.5em;
    border-radius: 1px;
    cursor: pointer;
    width: 100%;
    background-color: var(--clr-h24);
    color: var(--clr-lesserBlack);
}


/* header */

.header {
    width: var(--15percent);
    border-right: solid 2px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--clr-header);
    box-shadow: var(--shadow-right);
}

.closer {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--clr-h24);
    border-radius: 3px;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 2px;
    padding: 5px 10px;
    /* transition: all .5s; */
}

.opener {
    position: absolute;
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--clr-h24);
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    padding: 20px 3px;
    z-index: 5;
    box-shadow: var(--shadow-right);
    /* transition: all .5s; */
}

.open {
    transform: translateX(0);
    transition: all .5s;
}

.close {
    transform: translateX(-100%);
    transition: all .5s;
}

.navBar {
    display: flex;
    flex-direction: column;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2.5rem 0;
}


/* main */

.reducedWidth {
    margin-left: var(--15percent);
    transition: all .5s;
}

.fullWidth {
    margin-left: 0;
    transition: all .5s;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.title {
    padding: 2rem;
    background-color: var(--clr-h24);
    border-radius: var(--radius5) var(--radius5) 0 0;
}

.wrapperContent {
    box-shadow: var(--shadow-primary);
    border-radius: var(--radius5);
}


/* Modal */

.modal {
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background: var(--clr-h24);
    z-index: 10;
}


.formStyle {
    display: inline-block;
}

.sectionTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 3rem 1rem;
}

.wrapperTable {
    display: flex;
    width: 100%;
    border: solid 2px var(--clr-primary);
    border-bottom: none;
}

.wrapperTable i {
    color: var(--clr-primary);
}

.wrapperTable:last-child {
    border-bottom: solid 2px var(--clr-primary);
}

.cells {
    flex-basis: calc(100% / var(--count));
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionTable .wrapperTable:first-child {
    border-radius: 5px 5px 0 0;
    position: sticky;
    top: 1rem;
    background-color: var(--clr-secondary);
    border-bottom: solid 2px var(--clr-primary);
}

.sectionTable .wrapperTable:nth-child(2) {
    border-top: none;
}

.sectionTable .wrapperTable:last-child {
    border-radius: 0 0 5px 5px;
}

.sectionTable .wrapperTable:nth-child(even) {
    background-color: var(--clr-h24);
}

.cells > * {
    padding: 0.5rem;
}

.cells > img {
    width: 100%;
    padding: 0.5rem;
    object-fit: contain;
    height: 150px;
}

.btnFilter {
    all: unset;
    cursor: pointer;
}

#edit {
    width: 17px;
    height: 17px;
}

#edition {
    display: flex;
    align-items: center;
}

.wrapperForm {
    width: 100%;
}

.wrapperArticle {
    display: flex;
    width: 100%;
}

.wrapperForm {
    display: flex;
    width: 100%;
    border-bottom: none;
}

.wrapperForm i {
    color: var(--clr-primary);
}

.wrapperForm:last-child {
    border-bottom: solid 2px var(--clr-primary);
}

.sectionTable .wrapperForm:first-child {
    border-radius: 5px 5px 0 0;
    position: sticky;
    top: 1rem;
    background-color: var(--clr-h24);
    border-bottom: none;
}

.sectionTable .wrapperForm:nth-child(2) {
    border-top: none;
}

.sectionTable .wrapperForm:last-child {
    border-radius: 0 0 5px 5px;
}

.sectionTable .wrapperForm:nth-child(even) {
    background-color: var(--clr-h24);
}
